@import "nullstyle.scss";

body{background-color: rgb(1, 1, 1);font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.wrapper {
    display: flex;flex-direction: column;min-height: 100%;
}
.head {
    height: 50px;width: 100%;background-color: #202020;display: flex;align-items: center;justify-content: center;margin: 0px 0px 20px 0px;

    &__row {
        
    }
    &__title {color: #e7e7e7;font-size: 20px;letter-spacing: 1px;font-weight: 600;
    }
}
.content {
    flex: 1 1 auto;background-color: rgb(4, 4, 4);margin: 0px 0px 20px 0px;

}
.container{
    width: 90%;margin: 0 auto;}

.cards {
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 578px)
            {display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;}
    }
}
.card {
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 15px;
    position: relative;
    margin: 0 5px 30px 5px;
    &:hover{box-shadow: 0 0 3px 3px rgb(71, 61, 61);}
    .front, .back{position: absolute;top: 0;left: 0;width: 100%;height: 100%;transition: 1s all;display: flex;flex-direction: column;justify-content: center;align-items: center;}
    .back{background: rgb(28, 26, 26);transform: rotateY(-180deg);backface-visibility: hidden;border-radius: 15px;}
    &:hover .back{transform: rotateY(0deg);}
    &:hover .front{transform: rotateY(180deg);}  
    &__image {
        width: 175px;
        height: 175px;
        margin: 5px 5px 20px 5px;
        img{width: 100%;height: 100%;border-radius: 15px;}
    }
    .mg {width: 120px; height: 120px; margin: 27.5px 0px 47.5px 0px;}
    &__title {
        color: #e7e7e7;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        
    }
}

.foot {
    padding: 30px 0px;background-color: #202020; color: #e7e7e7;    display: flex;
    align-items: center;
    justify-content: center;
    &__row {
        
    }
    &__body {
        
    }
    &__title{margin: 0px 0px 10px 0px;letter-spacing: 1px;text-shadow: 0 0 1px rgb(2, 2, 2);text-align: center;}
}
.link {
    display: flex;
    @media (max-width:490px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    a{display: flex;align-items: center;margin: 0 10px;
        @media (max-width:490px){margin: 5px 0px;}

        }
    &__image {
        width: 35px;
        height: 30px;
        padding: 0 5px 0 0;
        img{width: 100%;}

    }
    &__text {
        font-size: 12px;
        color: #e7e7e7;
        letter-spacing: 1px;
    }
}