body {
    background-color: black;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
    background-color: rgb(71, 19, 19);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.container {
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.no__data {
    padding: 0px 0px 58% 0px;
    overflow: hidden;
    max-width: 280px;
    min-height: 180px;
}
.no__data img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.no__data p {
    text-align: center;
    margin-bottom: 10px;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.up button {
    display: inline-block;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #818080;
    box-shadow: 0px 0px 1px 0px black;
    z-index: 200;
}
